
<!-- ngModel on input tag add two-way databind to a HTML form element -->
<input [(ngModel)]="nameFilter" type="text" id="poke-filter"  placeholder="Search" maxlength="20">

<img class="selected-pkm" *ngIf="selectedPkm.name !== ''" [src]="pkmSprite" >

<ul class="poke-list">
    <li (mouseenter)="selectPokemon(pokemon)" class="poke-list-item" *ngFor="let pokemon of pokemonList">
        <img src="//img.pokemondb.net/sprites/black-white/anim/normal/{{pokemon.name}}.gif"/>
        {{pokemon.number | number: '3.0-0'}} - {{pokemon.name}}
    </li>
</ul>
